# Database configuration.
# Only MySQL database and flatfiles are supported for now.
database:
  # Database type. The only supported ATM is "mysql" and "flatfiles".
  type: "flatfiles"
  # Path for data stored with "flatfiles" database adapter.
  # Will be comletely ignored for MySQL/MariaDB.
  path: "./data"
  # Next parameters are strictly for MySQL/MariaDB connections and
  # will be ignored by "flatfiles" adapter.
  address: "localhost"
  port: "3306"
  username: "fastpastebin"
  password: "fastpastebin"
  database: "fastpastebin"

# Logging configuration.
logging:
  # Write log additionally to file?
  log_to_file: false
  # Log file name.
  filename: ""
  # Log level. Acceptable parameters: DEBUG, INFO, WARN, ERROR, FATAL, PANIC.
  loglevel: "DEBUG"

# HTTP server configuration.
http:
  address: "127.0.0.1"
  port: "25544"
  # By default we're allowing only HTTPS requests. Setting this to true
  # will allow HTTP requests. Useful for developing or if you're
  # running Fast Pastebin behind reverse proxy that does SSL termination.
  allow_insecure: true

# Pastes configuration.
pastes:
  # Pastes per page.
  pagination: 10