<div class="container">
    <div class="content has-text-centered">
        <p>
            <strong>Fast paste bin</strong> version
            <strong>{version}</strong> by
            <a href="https://pztrn.name">Stanislav N. aka pztrn</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Get
            <a href="https://gitlab.pztrn.name/fastpastebin/fastpastebin">source or binary releases here</a>!
        </p>
    </div>
</div>
